div#testControlsHamburger {
    position: absolute;
    left: 0px;
    top: 0px;
}

div#testControls {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    background-color: yellow;
}

div#testControlsButtons, div#testControlsLegend {
}

div#testControlsTestsFailed, div#testControlsTestsPassing, div#testControlsTestsExecuting {
}

div#testControlsTestsFailedLabel {
}

div#testControlsTestsFailedColor {
    height: 20px;
    width: 20px;
    background-color: red;
}

div#testControlsTestsPassingLabel {
}

div#testControlsTestsPassingColor {
    height: 20px;
    width: 20px;
    background-color: green;
}

div#testControlsTestsExecutingLabel {
}

div#testControlsTestsExecutingColor {
    height: 20px;
    width: 20px;
    background-color: orange;
}
